/** Reusable, style utilities */
.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Specific styling */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000;
}

.game-frame {
    background-color: #ffebb8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #e0e0e0;
    margin: auto;
}

.head-banner {
    font-size: 2em;
}

/** Side Menu */
.side-menu {
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 2em;
    display: inline-block;
}

.side-menu--ul {
    list-style-type: none;
    padding: 0;
}

.side-menu--ul li {
    margin: 3px;
    text-align: center;
}

.side-menu button {
    background-color: #ffebb8;
    border: 1px solid #efcb98;
    border-radius: 30px;
    cursor: pointer;
}

.side-menu button:hover {
    background-color: #efcb98;
}

/** Girl List */
.girl-list {
    display: inline-block;
}

.girl-list-card {
    border: 1px solid #efcb98;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}

.mini-image-container {
  width: 50px;
  height: 50px;
  background-color: #efcb98;
  margin: auto;
  font-size: 0.7em;
}

.mini-image {
    margin: auto;
}